/.vs/*
**.vs/*
.vs/*
**/bin/*
packages
**/e2e/*
**/.idea/*
**/*.user
/obj/*
**/obj/*
obj/*
/Bdx.Api/obj/Bdx.Api.csproj.nuget.dgspec.json
/Bdx.Api/obj/Bdx.Api.csproj.nuget.g.props
/Bdx.Api/obj/Bdx.Api.csproj.nuget.g.targets
/Bdx.Api/obj/project.assets.json
/Bdx.Api/obj/project.nuget.cache
/Bdx.Biz/obj/Bdx.Biz.csproj.nuget.dgspec.json
/Bdx.Biz/obj/Bdx.Biz.csproj.nuget.g.props
/Bdx.Biz/obj/Bdx.Biz.csproj.nuget.g.targets
/Bdx.Biz/obj/project.assets.json
/Bdx.Biz/obj/project.nuget.cache
/Bdx.dbConfig/obj/Bdx.dbConfig.csproj.nuget.dgspec.json
/Bdx.dbConfig/obj/Bdx.dbConfig.csproj.nuget.g.props
/Bdx.dbConfig/obj/Bdx.dbConfig.csproj.nuget.g.targets
/Bdx.dbConfig/obj/project.assets.json
/Bdx.dbConfig/obj/project.nuget.cache
/Bdx.dbContext/obj/Bdx.dbContext.csproj.nuget.dgspec.json
/Bdx.dbContext/obj/Bdx.dbContext.csproj.nuget.g.props
/Bdx.dbContext/obj/Bdx.dbContext.csproj.nuget.g.targets
/Bdx.dbContext/obj/project.assets.json
/Bdx.dbContext/obj/project.nuget.cache
/Bdx.ExcelBiz/obj/Bdx.ExcelBiz.csproj.nuget.dgspec.json
/Bdx.ExcelBiz/obj/Bdx.ExcelBiz.csproj.nuget.g.props
/Bdx.ExcelBiz/obj/Bdx.ExcelBiz.csproj.nuget.g.targets
/Bdx.ExcelBiz/obj/project.assets.json
/Bdx.ExcelBiz/obj/project.nuget.cache
/Bdx.ExchangeRate/obj/Bdx.Worker.ExchangeRate.csproj.nuget.dgspec.json
/Bdx.ExchangeRate/obj/Bdx.Worker.ExchangeRate.csproj.nuget.g.props
/Bdx.ExchangeRate/obj/Bdx.Worker.ExchangeRate.csproj.nuget.g.targets
/Bdx.ExchangeRate/obj/project.assets.json
/Bdx.ExchangeRate/obj/project.nuget.cache
/Bdx.Framework/obj/Bdx.Framework.csproj.nuget.dgspec.json
/Bdx.Framework/obj/Bdx.Framework.csproj.nuget.g.props
/Bdx.Framework/obj/project.assets.json
/Bdx.Framework/obj/project.nuget.cache
/Bdx.Gateway.BOG/obj/Bdx.Gateway.BOG.csproj.nuget.dgspec.json
/Bdx.Gateway.BOG/obj/Bdx.Gateway.BOG.csproj.nuget.g.props
/Bdx.Gateway.BOG/obj/Bdx.Gateway.BOG.csproj.nuget.g.targets
/Bdx.Gateway.BOG/obj/project.assets.json
/Bdx.Gateway.BOG/obj/project.nuget.cache
/Bdx.Gateway.RS/obj/Bdx.Gateway.RS.csproj.nuget.dgspec.json
/Bdx.Gateway.RS/obj/Bdx.Gateway.RS.csproj.nuget.g.props
/Bdx.Gateway.RS/obj/project.assets.json
/Bdx.Gateway.RS/obj/project.nuget.cache
/Bdx.Gateway.Sms/obj/Bdx.Gateway.Sms.csproj.nuget.dgspec.json
/Bdx.Gateway.Sms/obj/Bdx.Gateway.Sms.csproj.nuget.g.props
/Bdx.Gateway.Sms/obj/project.assets.json
/Bdx.Gateway.Sms/obj/project.nuget.cache
/Bdx.Mobile/obj/Bdx.Mobile.csproj.nuget.dgspec.json
/Bdx.Mobile/obj/Bdx.Mobile.csproj.nuget.g.props
/Bdx.Mobile/obj/project.assets.json
/Bdx.Mobile/obj/project.nuget.cache
/Bdx.Models/obj/Bdx.Models.csproj.nuget.dgspec.json
/Bdx.Models/obj/Bdx.Models.csproj.nuget.g.props
/Bdx.Models/obj/project.assets.json
/Bdx.Models/obj/project.nuget.cache
/Bdx.PaymentApi/obj/Bdx.PaymentApi.csproj.nuget.dgspec.json
/Bdx.PaymentApi/obj/Bdx.PaymentApi.csproj.nuget.g.props
/Bdx.PaymentApi/obj/Bdx.PaymentApi.csproj.nuget.g.targets
/Bdx.PaymentApi/obj/project.assets.json
/Bdx.PaymentApi/obj/project.nuget.cache
/Bdx.PaymentBiz/obj/Bdx.PaymentBiz.csproj.nuget.dgspec.json
/Bdx.PaymentBiz/obj/Bdx.PaymentBiz.csproj.nuget.g.props
/Bdx.PaymentBiz/obj/Bdx.PaymentBiz.csproj.nuget.g.targets
/Bdx.PaymentBiz/obj/project.assets.json
/Bdx.PaymentBiz/obj/project.nuget.cache
/Bdx.Payroll/obj/Bdx.Worker.Payroll.csproj.nuget.dgspec.json
/Bdx.Payroll/obj/Bdx.Worker.Payroll.csproj.nuget.g.props
/Bdx.Payroll/obj/Bdx.Worker.Payroll.csproj.nuget.g.targets
/Bdx.Payroll/obj/project.assets.json
/Bdx.Payroll/obj/project.nuget.cache
/Bdx.Worker.Biz/obj/Bdx.WorkerBiz.csproj.nuget.dgspec.json
/Bdx.Worker.Biz/obj/Bdx.WorkerBiz.csproj.nuget.g.props
/Bdx.Worker.Biz/obj/Bdx.WorkerBiz.csproj.nuget.g.targets
/Bdx.Worker.Biz/obj/project.assets.json
/Bdx.Worker.Biz/obj/project.nuget.cache
/Bdx.Worker.Bog/obj/Bdx.Worker.BOGSync.csproj.nuget.dgspec.json
/Bdx.Worker.Bog/obj/Bdx.Worker.BOGSync.csproj.nuget.g.props
/Bdx.Worker.Bog/obj/Bdx.Worker.BOGSync.csproj.nuget.g.targets
/Bdx.Worker.Bog/obj/project.assets.json
/Bdx.Worker.Bog/obj/project.nuget.cache
/Bdx.Worker.Daily/obj/Bdx.Worker.DailyWaybill.csproj.nuget.dgspec.json
/Bdx.Worker.Daily/obj/Bdx.Worker.DailyWaybill.csproj.nuget.g.props
/Bdx.Worker.Daily/obj/Bdx.Worker.DailyWaybill.csproj.nuget.g.targets
/Bdx.Worker.Daily/obj/project.assets.json
/Bdx.Worker.Daily/obj/project.nuget.cache
/Bdx.Worker.RsUploader/obj/Bdx.Worker.RsUploader.csproj.nuget.dgspec.json
/Bdx.Worker.RsUploader/obj/Bdx.Worker.RsUploader.csproj.nuget.g.props
/Bdx.Worker.RsUploader/obj/Bdx.Worker.RsUploader.csproj.nuget.g.targets
/Bdx.Worker.RsUploader/obj/project.assets.json
/Bdx.Worker.RsUploader/obj/project.nuget.cache
/Bdx.Worker.ShutdownWatcher/obj/Bdx.Worker.ShutdownWatcher.csproj.nuget.dgspec.json
/Bdx.Worker.ShutdownWatcher/obj/Bdx.Worker.ShutdownWatcher.csproj.nuget.g.props
/Bdx.Worker.ShutdownWatcher/obj/Bdx.Worker.ShutdownWatcher.csproj.nuget.g.targets
/Bdx.Worker.ShutdownWatcher/obj/project.assets.json
/Bdx.Worker.ShutdownWatcher/obj/project.nuget.cache
/Bdx.Worker.Total/obj/Bdx.Worker.DailyTotal.csproj.nuget.dgspec.json
/Bdx.Worker.Total/obj/Bdx.Worker.DailyTotal.csproj.nuget.g.props
/Bdx.Worker.Total/obj/Bdx.Worker.DailyTotal.csproj.nuget.g.targets
/Bdx.Worker.Total/obj/project.assets.json
/Bdx.Worker.Total/obj/project.nuget.cache
/Bdx.Worker.Waybill/obj/Bdx.Worker.Waybill.csproj.nuget.dgspec.json
/Bdx.Worker.Waybill/obj/Bdx.Worker.Waybill.csproj.nuget.g.props
/Bdx.Worker.Waybill/obj/Bdx.Worker.Waybill.csproj.nuget.g.targets
/Bdx.Worker.Waybill/obj/project.assets.json
/Bdx.Worker.Waybill/obj/project.nuget.cache
Bdx.Api/Properties/launchSettings.json
